.padre{
    
    max-width: 700px;
    margin: auto;
    display: grid;
    gap: 2rem;
    text-align: center;
    justify-content: center;
    height: 27rem;
    margin-top: 3rem;
    padding: 2rem;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius: 1rem;
    
}
a{
    text-decoration: none;
    color: crimson;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
a:hover{
    color:green;
    
}
